---
eleventyComputed:
  content_for_header: |-
    <meta property="og:image" content="{{ site.base }}/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
site:
  styles:
    - https://cdn.jsdelivr.net/npm/charts.css@1/dist/charts.min.css
title: The Race for <mark>1000 Goals</mark>
description: "Who will cross the bar of 1K goals? Tracking active football legends, rising contenders, and their historic season-by-season performance.&nbsp; <i class='faded' style='text-wrap: nowrap'>Updated: July 9, 2026</i>"
---

<style>
  /* [CORE] Table styles */
  table.striped {
    display: table !important;
    border-collapse: separate;
    @media (width >= 1024px) { font-size: 125% }
    th, td {
      min-width: 6ch;
      padding-inline: calc(var(--pico-spacing) / 4);
      &:first-child {
        padding-left: calc(var(--pico-spacing) / 2);
        font-size: 75%; opacity: 75%;
        &::after { content: ":"; vertical-align: baseline }
      }
      &:not(:first-child) { text-align: center; text-wrap: nowrap }
    }
    /* [NICE] Headers */
    thead {
      position: sticky; top: 0; z-index: 999;
      line-height: 1;
      sup { margin-inline: -1.5ch 0.125ch; top: -0.25em }
    }
  }
</style>

<hr>
<figure>
  <table class="striped">
    <thead>
    <tr><td>Player</td>{% for player in player_stats %}<td><sup>{{ player.country }}</sup>{{ player.name }} <br>{{ player.surname }}</td>{% endfor %}</tr>
    </thead>
    <tr><td id="row-goals">Goals</td><td><code>976</code> <em>~41/year</em></td><td>919 <em>~42/year</em></td><td>433 <em>~41/year</em></td><td>359 <em>~36/year</em></td><td>56 <em>~18/year</em></td></tr>
    <tr><td>World&nbsp;Cup goals</td><td>🌐11</td><td><code>🌐21</code></td><td><code>🌐20</code></td><td>🌐7</td><td>🌐1</td></tr>
    <tr><td>World&nbsp;Cups won</td><td>— <em>of 6</em></td><td><code><strong>🏆1</strong></code> <em>of 6</em></td><td><code><strong>🏆1</strong></code> <em>of 3</em></td><td>— <em>of 1</em></td><td>— <em>of 1</em></td></tr>
    <tr><td>Olympic Games won</td><td>— <em>of 1</em></td><td><code><strong>🥇1</strong></code> <em>of 1</em></td><td>—</td><td>—</td><td>—</td></tr>
    <tr><td>Ballons&nbsp;d'Or</td><td><strong>⚽️5</strong></td><td><code><strong>⚽️8</strong></code></td><td>—</td><td>—</td><td>—</td></tr>
    <tr><td>Golden&nbsp;Shoes</td><td><strong>👟4</strong></td><td><code><strong>👟6</strong></code></td><td><strong>👟1</strong></td><td><strong>👟1</strong></td><td>—</td></tr>
    <tr><td>Debut age</td><td>17y 6m <em>Sporting vs Inter<br>'02/03</em></td><td>17y 3m <em>Barça vs Espanyol<br>'04/05</em></td><td>16y 11m <em>Monaco vs Caen<br>'15/16</em></td><td><code>15y 9m</code> <em>Bryne vs Ranheim<br>2016</em></td><td><code>15y 9m</code> <em>Barça vs Betis<br>'22/23</em></td></tr>
    <tr><td>1st goal</td><td>17y 8m <em>Sporting vs Moreirense<br>'02/03</em></td><td>17y 10m <em>Barça vs Albacete<br>'04/05</em></td><td>17y 2m <em>Monaco vs Troyes<br>'15/16</em></td><td><code>16y 9m</code> <em>Molde vs Volda<br>2017</em></td><td><code>16y 2m</code> <em>Barça vs Granada<br>'23/24</em></td></tr>
    <tr><td id="row-seasons">Seasons played</td><td><code>23.9</code> <em>'02/03–present</em></td><td>21.7 <em>'04/05–present</em></td><td>10.6 <em>'15/16–present</em></td><td>10.1 <em>2016–present</em></td><td>3.2 <em>'22/23–present</em></td></tr>
    {% set runn_totals = {} %}
    {% for s in range(0, player_stats[0].seasons | length) %}
    <tr>
      <td>Season {{ s + 1 }}</td>
      {% for p in range(0, player_stats | length) %}
      {% set season = player_stats[p].seasons[s] %}
      {% set totals = {} %}
      {% for m, val in season.metrics %}
        {% set totals = totals | attr_set(m, runn_totals[p][s - 1][m] | d(0) + val) %}
      {% endfor %}
      {% set runn_totals = runn_totals | attr_set(p, runn_totals[p] | attr_set(s, totals) ) %}
      {% if season %}
      <td>
        <em>{{ season.year }}</em> {{ season.metrics.goals }} {% if totals.goals %}<em>∑={{ totals.goals }}</em>{% endif %}
        {% set awards = season.metrics | attr_set('goals', false) | attr_set('🌐', false) %}
        <br><strong>{{ awards | dictsort | selectattr('1') | join('', '0') }}</strong>{{ '🌐' ~ season.metrics['🌐'] if season.metrics['🌐'] }}
        {% if season.notes %}<br><em>({{ season.notes }})</em>{% endif %}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% if s in [3, 9, 21] %}
    <tr>
      <td class="vs-">Subtotals</td>
      {% for p in range(0, player_stats | length) %}
      <td>
        {% if player_stats[p].seasons[s] %}
        ∑={{ runn_totals[p][s].goals }}
        {% else %}<em>(not reached)</em>{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</figure>

<figure id="chart" class="breakout-item-max">
  <table class="charts-css line multiple show-labels show-data-axes">
    {% for s in range(0, player_stats[0].seasons | length) %}
    <tr>
      <th scope="row">{{ s + 1 }}</th>
      {% for p in range(0, player_stats | length) %}
      {% if runn_totals[p][s].goals %}<td style="--start: {{ runn_totals[p][s - 1].goals | d(0) / 1000 }}; --end: {{ runn_totals[p][s].goals / 1000 }}">{{ runn_totals[p][s].goals }}</td>{% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</figure>
<br>
<ul class="charts-css legend legend-inline legend-square">
  {% for p in range(0, player_stats | length) %}
  <li>{{ player_stats[p].surname }}</li>
  {% endfor %}
</ul>

<style>
  table.striped {
    /* [CORE] Sub-line helper */
    em {
      display: block; font-size: 50%;
      font-style: normal; opacity: 50%;
    }
    /* [CORE] Highlighter helper */
    code {
      display: inline;
      padding: 0.125em 0.25em;
      background: var(--pico-mark-background-color);
      color: var(--pico-mark-color);
      font: inherit;
    }
    /* [NICE] Gold-ish emoji helper */
    strong {
      font-weight: normal;
      /* filter: sepia(1) saturate(10) hue-rotate(10deg) brightness(1.2); */
      filter: sepia(1) saturate(8) hue-rotate(-5deg) brightness(0.85) contrast(1.4);
    }
    /* [NICE] Goals & seasons */
    tr:has(#row-goals) { font-size: 150% }
    tr:has(#row-seasons) ~ tr {
      td:first-child {
        text-align: center;
        opacity: 50%;
      }
      em { display: inline; vertical-align: text-top }
    }
    /* [NICE] Subtotals */
    tr:has([class^="vs-"]) td {
      border: 1px solid var(--pico-contrast); border-width: 1px 0; font-size: 75%;
      &:first-child { border-left-width: 1px; opacity: 100% !important }
      &:last-child { border-right-width: 1px }
    }
  }
  .charts-css {
    --color-1: green;
    --color-2: skyblue;
    --color-3: dodgerblue;
    --color-4: red;
    --color-5: goldenrod;
    th, td {
      font-size: 25%
    }
    td {
      font-weight: bold;
      &:nth-of-type(10n+1) { --color: var(--color-1) }
      &:nth-of-type(10n+2) { --color: var(--color-2) }
      &:nth-of-type(10n+3) { --color: var(--color-3) }
      &:nth-of-type(10n+4) { --color: var(--color-4) }
      &:nth-of-type(10n+5) { --color: var(--color-5) }
      color: var(--color);
      @media (width < 768px) { color: transparent }
    }
  }
</style>

{% renderTemplate 'md' %}
---

## <sup style>Support the project</sup>

<article>

We DON'T ask for financial support! Instead consider to:

1. Support our underlying open-source projects by giving a star on GitHub:
   - https://github.com/anyblades/blades
   - https://github.com/anyblades/subtle
   - https://github.com/anyblades/eleventy-blades
   - https://github.com/anyblades ← or even more if you like!
     {.markerless}
2. Follow us on social media and spread the word about any of our projects:
   - https://x.com/BladesCSS
   - https://x.com/anydigitall
   - https://mastodon.social/@anydigital
   - https://www.reddit.com/user/any-digital/
   - https://bsky.app/profile/any.digital
   - https://www.linkedin.com/company/anydigital/
     {.markerless}
3. Contribute to this project on its [GitHub](https://github.com/anyblades/1k.any.digital).

</article>

<details><summary>Data sources</summary>

- https://en.wikipedia.org/w/index.php?title=Cristiano_Ronaldo&action=raw
- https://en.wikipedia.org/w/index.php?title=Lionel_Messi&action=raw
- https://en.wikipedia.org/w/index.php?title=Kylian_Mbapp%C3%A9&action=raw
- https://en.wikipedia.org/w/index.php?title=Erling_Haaland&action=raw
- https://en.wikipedia.org/w/index.php?title=Lamine_Yamal&action=raw
  {.markerless}

</details>
{% endrenderTemplate %}
