---
eleventyComputed:
  content_for_header: |-
    <meta property="og:image" content="{{ site.base }}/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
title: The Race for <mark>1000 Goals</mark>
description: "Who will cross the bar of 1K goals? Tracking active football legends, rising contenders, and their historic season-by-season performance.&nbsp; <i class='faded' style='text-wrap: nowrap'>Updated: July 9, 2026</i>"
---

<style>
  /* [CORE] Table styles */
  table {
    display: table !important;
    border-collapse: separate;
    @media (width >= 1024px) { font-size: 125% }
    th, td {
      min-width: 6ch;
      padding-inline: calc(var(--pico-spacing) / 4);
      &:first-child {
        padding-left: calc(var(--pico-spacing) / 2);
        font-size: 75%; opacity: 75%;
        &::after { content: ":"; vertical-align: baseline }
      }
      &:not(:first-child) { text-align: center; text-wrap: nowrap }
    }
    /* [NICE] Headers */
    thead {
      position: sticky; top: 0; z-index: 999;
      line-height: 1;
      sup { margin-inline: -1.5ch 0.125ch; top: -0.25em }
    }
  }
</style>

<hr>
<figure>
{% renderTemplate 'md,njk', { player_stats: player_stats } %}
| Player                                           |{% for player in player_stats %} <sup>{{ player.country }}</sup>{{ player.name }} <br>{{ player.surname }} |{% endfor %}
| ------------------------------------------------ | ----------------------------------------------- | ----------------------------------------- | ---------------------------------------- | ----------------------------------- | ------------------------------------- |
| Goals { #row-goals}                              | `976` _~41/year_                                | 919 _~42/year_                            | 433 _~41/year_                           | 359 _~36/year_                      | 56 _~18/year_                         |
| World&nbsp;Cup goals                             | 🌐11                                            | `🌐21`                                    | `🌐20`                                   | 🌐7                                 | 🌐1                                   |
| World&nbsp;Cups won                              | — _of 6_                                        | <code>**🏆1**</code> _of 6_               | <code>**🏆1**</code> _of 3_              | — _of 1_                            | — _of 1_                              |
| Olympic Games won                                | — _of 1_                                        | <code>**🥇1**</code> _of 1_               | —                                        | —                                   | —                                     |
| Ballons&nbsp;d'Or                                | **⚽️5**                                         | <code>**⚽️8**</code>                      | —                                        | —                                   | —                                     |
| Golden&nbsp;Shoes                                | **👟4**                                         | <code>**👟6**</code>                      | **👟1**                                  | **👟1**                             | —                                     |
| Debut age                                        | 17y 6m _Sporting vs Inter<br>'02/03_            | 17y 3m _Barça vs Espanyol<br>'04/05_      | 16y 11m _Monaco vs Caen<br>'15/16_       | `15y 9m` _Bryne vs Ranheim<br>2016_ | `15y 9m` _Barça vs Betis<br>'22/23_   |
| 1st goal                                         | 17y 8m _Sporting vs Moreirense<br>'02/03_       | 17y 10m _Barça vs Albacete<br>'04/05_     | 17y 2m _Monaco vs Troyes<br>'15/16_      | `16y 9m` _Molde vs Volda<br>2017_   | `16y 2m` _Barça vs Granada<br>'23/24_ |
| Seasons played { #row-seasons}                   | `23.9` _'02/03–present_                         | 21.7 _'04/05–present_                     | 10.6 _'15/16–present_                    | 10.1 _2016–present_                 | 3.2 _'22/23–present_                  |
{%- set runn_totals = {} %}
{%- for s in range(0, player_stats[0].seasons | length) %}
| Season {{ s + 1 }} |{% for p in range(0, player_stats | length) %}{% set _ %}
{% set season = player_stats[p].seasons[s] %}
  {% for m, val in season.metrics %}
    {% set runn_totals = runn_totals | attr_set(p, runn_totals[p] | attr_set(m, runn_totals[p][m] | d(0) + val) ) %}
  {% endfor %}
  _{{ season.year }}_ {{ season.metrics.goals }} _∑={{ runn_totals[p].goals }}_
  {% set awards = season.metrics | attr_set('goals', false) | attr_set('🌐', false) %}
  <br><strong>{{ awards | dictsort | selectattr('1') | join('', '0') }}</strong>{{ '🌐' ~ season.metrics['🌐'] if season.metrics['🌐'] }}
  {{ '<br>_(' ~ season.notes ~ ')_' if season.notes }}
{% endset %} {{ _ | replace('\n', ' ') | safe if season }} |{% endfor %}
{%- endfor %}
| `Mbappé` vs Haaland vs Ronaldo vs Messi vs Yamal | ∑=41                                            | ∑=50 <br>🌐1                              | `∑=97` <br>**🏆1**🌐4                    | ∑=65                                | ∑=55 {.vs-ly}                         |
| `Messi` vs Ronaldo vs Mbappé vs Haaland          | ∑=301 <br>**⚽️1👟2**🌐2                         | `∑=391` <br>**⚽️4👟3🥇1**🌐5              | `∑=375` <br>**👟1🏆1**🌐12               | ∑=352 <br>**👟1** {.vs-eh}          |
| Ronaldo vs `Messi`                               | `∑=893` <br>**⚽️5👟4**🌐8                       | `∑=896` <br>**⚽️8👟6🥇1🏆1**🌐13 {.vs-lm} |

{.striped}
{% endrenderTemplate %}
</figure>

<style>
  table {
    /* [CORE] Sub-line helper */
    em {
      display: block; font-size: 50%;
      font-style: normal; opacity: 50%;
    }
    /* [CORE] Highlighter helper */
    code {
      display: inline;
      padding: 0.125em 0.25em;
      background: var(--pico-mark-background-color);
      color: var(--pico-mark-color);
      font: inherit;
    }
    /* [NICE] Gold-ish emoji helper */
    strong {
      font-weight: normal;
      /* filter: sepia(1) saturate(10) hue-rotate(10deg) brightness(1.2); */
      filter: sepia(1) saturate(8) hue-rotate(-5deg) brightness(0.85) contrast(1.4);
    }
    /* [NICE] Goals & seasons */
    tr:has(#row-goals) { font-size: 150% }
    tr:has(#row-seasons) ~ tr {
      td:first-child {
        text-align: center;
        opacity: 50%;
      }
      em { display: inline; vertical-align: text-top }
    }
    /* [NICE] Subtotals */
    tr:has([class^="vs-"]) td {
      border-width: 1px 0; border-style: solid; font-size: 75%;
      &:first-child {
        &::before {
          content: "= SUBTOTALS ="; display: block; text-wrap: nowrap;
          font-weight: bold; letter-spacing: 1px;
        }
        border-left-width: 1px;
        font-size: 50%; opacity: 100% !important;
      }
      &[class^="vs-"] {
        border-right-width: 1px;
        ~ td { border: none }
      }
    }
    tr:has([class="vs-ly"]) td { border-color: goldenrod }
    tr:has([class="vs-eh"]) td { border-color: red }
    tr:has([class="vs-lm"]) td { border-color: teal }
  }
</style>

{% renderTemplate 'md' %}
---

## <sup style>Support the project</sup>

<article>

We DON'T ask for financial support! Instead consider to:

1. Support our underlying open-source projects by giving a star on GitHub:
   - https://github.com/anyblades/blades
   - https://github.com/anyblades/subtle
   - https://github.com/anyblades/eleventy-blades
   - https://github.com/anyblades ← or even more if you like!
     {.markerless}
2. Follow us on social media and spread the word about any of our projects:
   - https://x.com/BladesCSS
   - https://x.com/anydigitall
   - https://mastodon.social/@anydigital
   - https://www.reddit.com/user/any-digital/
   - https://bsky.app/profile/any.digital
   - https://www.linkedin.com/company/anydigital/
     {.markerless}
3. Contribute to this project on its [GitHub](https://github.com/anyblades/1k.any.digital).

</article>

<details><summary>Data sources</summary>

- https://en.wikipedia.org/w/index.php?title=Cristiano_Ronaldo&action=raw
- https://en.wikipedia.org/w/index.php?title=Lionel_Messi&action=raw
- https://en.wikipedia.org/w/index.php?title=Kylian_Mbapp%C3%A9&action=raw
- https://en.wikipedia.org/w/index.php?title=Erling_Haaland&action=raw
- https://en.wikipedia.org/w/index.php?title=Lamine_Yamal&action=raw
  {.markerless}

</details>
{% endrenderTemplate %}
