---
eleventyComputed:
  content_for_header: |-
    <meta property="og:image" content="{{ site.base }}/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
site:
  styles:
    - https://cdn.jsdelivr.net/npm/charts.css@1/dist/charts.min.css
title: The Race for <mark>1000 Goals</mark>
description: "Who will cross the bar of 1K goals? Tracking active football legends, rising contenders, and their historic season-by-season performance.&nbsp; <i class='faded' style='text-wrap: nowrap'>Updated: July 9, 2026</i>"
---

<style>
  /* [CORE] Table styles */
  table.striped {
    display: table !important;
    border-collapse: separate;
    @media (width >= 1024px) { font-size: 125% }
    th, td {
      min-width: 6ch;
      padding-inline: calc(var(--pico-spacing) / 4);
      &:first-child {
        padding-left: calc(var(--pico-spacing) / 2);
        font-size: 75%; opacity: 75%;
        &::after { content: ":"; vertical-align: baseline }
      }
      &:not(:first-child) { text-align: center; text-wrap: nowrap }
    }
    /* [NICE] Headers */
    thead {
      position: sticky; top: 0; z-index: 999;
      line-height: 1;
      sup { margin-inline: -1.5ch 0.125ch; top: -0.25em }
    }
  }
</style>

<hr>
{% renderTemplate 'md,njk', { player_stats: player_stats } %}
<figure>

| Player                                           |{% for player in player_stats %} <sup>{{ player.country }}</sup>{{ player.name }} <br>{{ player.surname }} |{% endfor %}
| ------------------------------------------------ | ----------------------------------------------- | ----------------------------------------- | ---------------------------------------- | ----------------------------------- | ------------------------------------- |
| Goals { #row-goals}                              | `976` _~41/year_                                | 919 _~42/year_                            | 433 _~41/year_                           | 359 _~36/year_                      | 56 _~18/year_                         |
| World&nbsp;Cup goals                             | 🌐11                                            | `🌐21`                                    | `🌐20`                                   | 🌐7                                 | 🌐1                                   |
| World&nbsp;Cups won                              | — _of 6_                                        | <code>**🏆1**</code> _of 6_               | <code>**🏆1**</code> _of 3_              | — _of 1_                            | — _of 1_                              |
| Olympic Games won                                | — _of 1_                                        | <code>**🥇1**</code> _of 1_               | —                                        | —                                   | —                                     |
| Ballons&nbsp;d'Or                                | **⚽️5**                                         | <code>**⚽️8**</code>                      | —                                        | —                                   | —                                     |
| Golden&nbsp;Shoes                                | **👟4**                                         | <code>**👟6**</code>                      | **👟1**                                  | **👟1**                             | —                                     |
| Debut age                                        | 17y 6m _Sporting vs Inter<br>'02/03_            | 17y 3m _Barça vs Espanyol<br>'04/05_      | 16y 11m _Monaco vs Caen<br>'15/16_       | `15y 9m` _Bryne vs Ranheim<br>2016_ | `15y 9m` _Barça vs Betis<br>'22/23_   |
| 1st goal                                         | 17y 8m _Sporting vs Moreirense<br>'02/03_       | 17y 10m _Barça vs Albacete<br>'04/05_     | 17y 2m _Monaco vs Troyes<br>'15/16_      | `16y 9m` _Molde vs Volda<br>2017_   | `16y 2m` _Barça vs Granada<br>'23/24_ |
| Seasons played { #row-seasons}                   | `23.9` _'02/03–present_                         | 21.7 _'04/05–present_                     | 10.6 _'15/16–present_                    | 10.1 _2016–present_                 | 3.2 _'22/23–present_                  |
{%- set runn_totals = {} %}
{%- for s in range(0, player_stats[0].seasons | length) %}
| Season {{ s + 1 }} |{% for p in range(0, player_stats | length) %}{% set _ %}
{% set season = player_stats[p].seasons[s] %}
  {% set totals = {} %}
  {% for m, val in season.metrics %}
    {% set totals = totals | attr_set(m, runn_totals[p][s - 1][m] | d(0) + val) %}
  {% endfor %}
  {% set runn_totals = runn_totals | attr_set(p, runn_totals[p] | attr_set(s, totals) ) %}
  _{{ season.year }}_ {{ season.metrics.goals }} {{ '_∑=' ~ totals.goals ~ '_' if totals.goals }}
  {% set awards = season.metrics | attr_set('goals', false) | attr_set('🌐', false) %}
  <br><strong>{{ awards | dictsort | selectattr('1') | join('', '0') }}</strong>{{ '🌐' ~ season.metrics['🌐'] if season.metrics['🌐'] }}
  {{ '<br>_(' ~ season.notes ~ ')_' if season.notes }}
{% endset %} {{ _ | replace('\n', ' ') | safe if season }} |{% endfor %}
{%- if s in [3, 9, 21] %}
| Subtotals {.vs-} |{% for p in range(0, player_stats | length) %} {% if player_stats[p].seasons[s] %}∑={{ runn_totals[p][s].goals }}{% else %}_(not reached)_{% endif %} |{% endfor %}
{%- endif %}
{%- endfor %}

{.striped}
</figure>

<figure id="chart" class="breakout-item-max">
  <table class="charts-css line multiple show-labels show-data-axes">
    {%- for s in range(0, player_stats[0].seasons | length) %}
    <tr>
      <th scope="row">{{ s + 1 }}</th>
      {%- for p in range(0, player_stats | length) %}
      {%- if runn_totals[p][s].goals %}<td style="--start: {{ runn_totals[p][s - 1].goals | d(0) / 1000 }}; --end: {{ runn_totals[p][s].goals / 1000 }}">{{ runn_totals[p][s].goals }}</td>{% endif %}
      {%- endfor %}
    </tr>
    {%- endfor %}
  </table>
</figure>
<br>
<ul class="charts-css legend legend-inline legend-square">
  {%- for p in range(0, player_stats | length) %}
  <li>{{ player_stats[p].surname }}</li>
  {%- endfor %}
</ul>
{% endrenderTemplate %}

<style>
  table.striped {
    /* [CORE] Sub-line helper */
    em {
      display: block; font-size: 50%;
      font-style: normal; opacity: 50%;
    }
    /* [CORE] Highlighter helper */
    code {
      display: inline;
      padding: 0.125em 0.25em;
      background: var(--pico-mark-background-color);
      color: var(--pico-mark-color);
      font: inherit;
    }
    /* [NICE] Gold-ish emoji helper */
    strong {
      font-weight: normal;
      /* filter: sepia(1) saturate(10) hue-rotate(10deg) brightness(1.2); */
      filter: sepia(1) saturate(8) hue-rotate(-5deg) brightness(0.85) contrast(1.4);
    }
    /* [NICE] Goals & seasons */
    tr:has(#row-goals) { font-size: 150% }
    tr:has(#row-seasons) ~ tr {
      td:first-child {
        text-align: center;
        opacity: 50%;
      }
      em { display: inline; vertical-align: text-top }
    }
    /* [NICE] Subtotals */
    tr:has([class^="vs-"]) td {
      border: 1px solid var(--pico-contrast); border-width: 1px 0; font-size: 75%;
      &:first-child { border-left-width: 1px; opacity: 100% !important }
      &:last-child { border-right-width: 1px }
    }
  }
  .charts-css {
    --color-1: green;
    --color-2: skyblue;
    --color-3: dodgerblue;
    --color-4: red;
    --color-5: goldenrod;
    th, td { font-size: 25% }
    td {
      &:nth-of-type(10n+1) { --color: var(--color-1) }
      &:nth-of-type(10n+2) { --color: var(--color-2) }
      &:nth-of-type(10n+3) { --color: var(--color-3) }
      &:nth-of-type(10n+4) { --color: var(--color-4) }
      &:nth-of-type(10n+5) { --color: var(--color-5) }
      color: var(--color);
      @media (width < 768px) { color: transparent }
    }
  }
</style>

{% renderTemplate 'md' %}
---

## <sup style>Support the project</sup>

<article>

We DON'T ask for financial support! Instead consider to:

1. Support our underlying open-source projects by giving a star on GitHub:
   - https://github.com/anyblades/blades
   - https://github.com/anyblades/subtle
   - https://github.com/anyblades/eleventy-blades
   - https://github.com/anyblades ← or even more if you like!
     {.markerless}
2. Follow us on social media and spread the word about any of our projects:
   - https://x.com/BladesCSS
   - https://x.com/anydigitall
   - https://mastodon.social/@anydigital
   - https://www.reddit.com/user/any-digital/
   - https://bsky.app/profile/any.digital
   - https://www.linkedin.com/company/anydigital/
     {.markerless}
3. Contribute to this project on its [GitHub](https://github.com/anyblades/1k.any.digital).

</article>

<details><summary>Data sources</summary>

- https://en.wikipedia.org/w/index.php?title=Cristiano_Ronaldo&action=raw
- https://en.wikipedia.org/w/index.php?title=Lionel_Messi&action=raw
- https://en.wikipedia.org/w/index.php?title=Kylian_Mbapp%C3%A9&action=raw
- https://en.wikipedia.org/w/index.php?title=Erling_Haaland&action=raw
- https://en.wikipedia.org/w/index.php?title=Lamine_Yamal&action=raw
  {.markerless}

</details>
{% endrenderTemplate %}
